<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mod_WeaponSelection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <mod_WeaponSelection.Properties.Settings>
            <setting name="Primary0" serializeAs="String">
                <value />
            </setting>
            <setting name="Primary1" serializeAs="String">
                <value />
            </setting>
            <setting name="Primary2" serializeAs="String">
                <value />
            </setting>
            <setting name="Primary3" serializeAs="String">
                <value />
            </setting>
            <setting name="Primary4" serializeAs="String">
                <value />
            </setting>
            <setting name="Primary5" serializeAs="String">
                <value />
            </setting>
            <setting name="Primary6" serializeAs="String">
                <value />
            </setting>
            <setting name="Primary7" serializeAs="String">
                <value />
            </setting>
            <setting name="Secondary0" serializeAs="String">
                <value />
            </setting>
            <setting name="Secondary1" serializeAs="String">
                <value />
            </setting>
            <setting name="Secondary2" serializeAs="String">
                <value />
            </setting>
            <setting name="Secondary3" serializeAs="String">
                <value />
            </setting>
            <setting name="Secondary4" serializeAs="String">
                <value />
            </setting>
            <setting name="Secondary5" serializeAs="String">
                <value />
            </setting>
            <setting name="Secondary6" serializeAs="String">
                <value />
            </setting>
            <setting name="Secondary7" serializeAs="String">
                <value />
            </setting>
            <setting name="NSelectPrimary0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NSelectPrimary1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NSelectPrimary2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NSelectPrimary3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NSelectPrimary4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NSelectPrimary5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NSelectPrimary6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NSelectPrimary7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NSelectSecondary0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NSelectSecondary1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NSelectSecondary2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NSelectSecondary3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NSelectSecondary4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NSelectSecondary5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NSelectSecondary6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NSelectSecondary7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrimaryLogicActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SecondaryLogicActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnPickupSwapToHighest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PatchPrevNextFunction" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="zorc" serializeAs="String">
                <value>False</value>
            </setting>
        </mod_WeaponSelection.Properties.Settings>
    </userSettings>
</configuration>